$color_1: rgb(255, 252, 252);
$color_2: #BFBAA8;
$color_3: #E0D1B5;
$font-family_1: 'Quicksand';
$font-family_2: 'Manrope';
$background-color_1: #BFBAA8;
$background-color_2: #8c837273;
$background-color_3: #8C8372;
$background-color_4: #262626;
$background-color_5: #000000a1;
$background-color_6: #8c8372a9;